<h1> HELLO WORLD </h1>
@foreach(var Бот in @Model) {
    <h4>@Бот.name</h4>
}

<form action="" METHOD="POST" enctype="multipart/form-data">

    <input type = "text" id="name" name = "name"/>
    <input type = "file" id="class" name = "name"/>

</form>
